*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

:root{
    --cor-de-fundo:#ffffff;
    --cor-do-icon:#FEC74B;
    --cor-do-fundopreto:#000000;
    --cor-do-botao:#FEC63E;
    }

img{
    display: block;
    max-width: 100%;
}
body{
    background-color: #FFFCF8;
}
a{
    padding: 1rem 2rem;
    font-size: 1.25rem;
    color: var(--cor-de-fundo);
    display: block;

}
h1{
    font-size: 4rem;
    color: var(--cor-do-fundopreto);
}
h2{
    position: relative;
    font-size: 3rem;
    color: var(--cor-do-fundopreto);
    
}


h2::before{
    content: "";
    border: 4px solid  var(--cor-do-icon);
    width: 100%;
    bottom: -10px;
    position: absolute;

}
h3{
    font-size: 2rem;
    font-weight: bold;
} 
h4{
    font-size: 1.5rem;
    color: #606F81;
}
p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #828282;


}
main{
    margin-top: 0px;
}

@media (max-width:800px) {
    a{
        padding: 1rem;
    font-size: 1.1rem;
        
    
    }
}